.toggle {
  background: #eee;
  width: 50px;
  height: 25px;
  padding: 2.5px;
  border-radius: 50px;
}

label {
  width: 20px;
  height: 20px;
  background: #ccc;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.25s ease 0s;
}

input {
  display: none;
}

input:checked + label {
  margin-left: 25px;
  background: red;
}

.toggle:before,
.toggle:after {
  content: "ON";
  position: absolute;
  font-size: 6px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px 0;
  z-index: 0;
  color: red;
}

.toggle:after {
  content: "OFF";
  margin-top: -20px;
  margin-left: 25px;
  color: #666;
}

label {
  position: relative;
  z-index: 1;
}
